body {
  font-family:"Trebuchet MS",Arial,sans-serif;
  width: 600px;
  margin: 20px auto;
  background-color:#3a2b25;
  color:#ccbcac;
  line-height:1.5em;
}

#badge {
  width: 420px;
}

img.badge-photo:hover {
  border: 1px solid #ccbcac;
}

a {
  color:#0c9112;
}

a:visited {
  color:#44aa40;
}

#download {
  float: right;
  margin-right:-100px;
}

.author {
  font-size:0.5em;
}

#enter_username {
  width:80%;
  margin:0 auto;
}

#enter_username button {
  margin-left:10px;
}
